<div class='row'>
	<div class="col-xs-12 col-sm-12">
		<div class="card card-mini">
		  <div class="card-header">
		    <div class="card-title"><h3>All Groups</h3></div>
		    <ul class="card-action">
		      <li>
		        <a href="#groups">
		          <i class="fa fa-refresh"></i>
		        </a>
		      </li>
		    </ul>
		  </div>
		  <div class="card-body no-padding table-responsive">

		    <table class="table card-table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Group Name</th>
						<th>Description</th>
						<th>Restricted</th>
						<th>DB ID</th>
					</tr>
				</thead>
				<tbody ng-repeat="group in groups">
					<tr>
						<th>{{$index + 1}}</th>
						<th>{{group.name}}</th>
						<th>{{group.description}}</th>
						<th>{{group.restricted}}</th>
						<th>{{group.id}}</th>
					</tr>
				</tbody>
		    </table>
		  </div>

		  
		</div>
	</div>
</div>
