<!--Statistics Tab -->
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-green-light">
          <div class="card-body">
            <i class="icon fa fa-file fa-4x"></i>
            <div class="content">
              <div class="title">Contributions</div>
              <div class="value"><span class="sign"></span>420</div>
            </div>
          </div>
        </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-blue-light">
              <div class="card-body">
                <i class="icon fa fa-thumbs-o-up fa-4x"></i>
                <div class="content">
                  <div class="title">Connections</div>
                  <div class="value"><span class="sign"></span>2453</div>
                </div>
              </div>
            </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-yellow-light">
              <div class="card-body">
                <i class="icon fa fa-user-plus fa-4x"></i>
                <div class="content">
                  <div class="title">Users</div>
                  <div class="value"><span class="sign"></span>50</div>
                </div>
              </div>
            </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-blue-light">
              <div class="card-body">
                <i class="icon fa fa-bookmark fa-4x"></i>
                <div class="content">
                  <div class="title">Tags</div>
                  <div class="value"><span class="sign"></span>350</div>
                </div>
              </div>
            </a>

    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-banner card-chart card-green no-br">
      <div class="card-header">
        <div class="card-title">
          <div class="title">Activity</div>
        </div>
        <ul class="card-action">
          <li>
            <a href="/">
              <i class="fa fa-refresh"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="ct-chart-sale"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  
  <!-- some list -->
  <div class="col-xs-12 col-sm-6">
	<div class="card card-mini">
	  <div class="card-header">
	    <div class="card-title">All Contributions</div>
	    <ul class="card-action">
	      <li>
	        <a href="/">
	          <i class="fa fa-refresh"></i>
	        </a>
	      </li>
	    </ul>
	  </div>
	  <div class="card-body no-padding table-responsive">

	    <table class="table card-table">
	      	<thead>
		        <tr>
					<th>#</th>
					<th>Title</th>
					<th>Author</th>
		        </tr>
	      	</thead>
			<tbody>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tbody>
	    </table>
	  </div>
	</div>
  </div>

  <!-- other statistics -->
  <div class="col-xs-12 col-sm-6">
	<div class="card card-mini">
	  <div class="card-header">
	    <div class="card-title">Statistics</div>
	    <ul class="card-action">
	      <li>
	        <a href="/">
	          <i class="fa fa-refresh"></i>
	        </a>
	      </li>
	    </ul>
	  </div>
	  <div class="card-body no-padding table-responsive">

	    <table class="table card-table">
	      	<thead>
		        <tr>
					<th>#</th>
					<th>Title</th>
					<th>Author</th>
		        </tr>
	      	</thead>
			<tbody>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tbody>
	    </table>
	  </div>
	</div>
  </div>

</div>

