<!--Statistics Tab -->
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-green-light">
          <div class="card-body">
            <i class="icon fa fa-file fa-4x"></i>
            <div class="content">
              <div class="title">Contributions</div>
              <div class="value"><span class="sign"></span>{{contributions.length}}</div>
            </div>
          </div>
        </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-blue-light">
              <div class="card-body">
                <i class="icon fa fa-thumbs-o-up fa-4x"></i>
                <div class="content">
                  <div class="title">Groups</div>
                  <div class="value"><span class="sign"></span>{{groups.length}}</div>
                </div>
              </div>
            </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-yellow-light">
              <div class="card-body">
                <i class="icon fa fa-user-plus fa-4x"></i>
                <div class="content">
                  <div class="title">Users</div>
                  <div class="value"><span class="sign"></span>{{users.length}}</div>
                </div>
              </div>
            </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-blue-light">
              <div class="card-body">
                <i class="icon fa fa-bookmark fa-4x"></i>
                <div class="content">
                  <div class="title">Tags</div>
                  <div class="value"><span class="sign"></span>{{tags.length}}</div>
                </div>
              </div>
            </a>

    </div>
</div>

<div class="row">
  
  <!-- some list -->
  <div class="col-xs-12 col-sm-12">
	<div class="card card-mini">
	  <div class="card-header">
	    <div class="card-title"><h3>All Contributions</h3></div>
<!-- 	    <ul class="card-action">
	      <li>
	        <a href="/admin">
	          <i class="fa fa-refresh"></i>
	        </a>
	      </li>
	    </ul> -->
      <nav>
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
	  </div>
	  <div class="card-body no-padding table-responsive">

        <table class="table card-table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created On</th>
                <th>DB ID</th>
              </tr>
            </thead>
            <tbody ng-repeat="contribution in contributions">
              <tr>
                <th>{{$index + 1}}</th>
                <th>{{contribution.title}}</th>
                <th>{{contribution.createdBy}}</th>
                <th>{{contribution.dateCreated}}</th>
                <th>{{contribution.id}}</th>
              </tr>
            </tbody>
        </table>
	  </div>


	</div>
  </div>

</div>

