<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h1>Modules 
			<button class="btn btn-default pull-right" ng-click="toggleForm()">Add Module</button>
			</h1>
		</div>
		
		<div class="col-xs-12" ng-show="showForm">
			<form ng-submit="addModule()" novalidate>
				<h3>Add a new module</h3>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Module Code" ng-model="moduleCode" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Module Name" ng-model="moduleName" required>
				</div>
				<div class="form-group">
					<tags-input ng-model="contributionTypes"></tags-input>
				</div>
				<div class="form-group">
					<label>Add moderators <button class="btn btn-default" ng-click="addNewModField()">Add another moderator</button> </label>
					<div ng-repeat="moderator in moderators">
						<div class="row">
							<div class="container">
								<div class="col-xs-4">
									<select class="form-control" ng-model="moderator.modtype">
										<option value="existing">Existing User</option>
										<option value="new">New User</option>
									</select>
								</div>
								<div class="col-xs-8">
									<!-- Either a search for existing users or create new user form -->
									<div ng-if="modIsExisting(moderator)">
										<select class="form-control" ng-options="user.nusOpenId as user.nusOpenId + ' ' + user.name for user in usersList" ng-model="moderator.nusOpenIdExisting"></select>
										<button ng-click="removeModField(moderator)" class="btn btn-danger pull-right">
											Remove
										</button>
									</div>
									<div ng-if="!modIsExisting(moderator)">
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Moderator Name" ng-model="moderator.name"><br>
											<input class="form-control" type="text" placeholder="Moderator NUS Open ID" ng-model="moderator.nusOpenId"><br>
											<input class="form-control" type="number" placeholder="Moderator Year" ng-model="moderator.year"><br>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" ng-model="moderator.canEdit"><strong>Can Edit?</strong>
											</label>				
										</div>
										<button ng-click="removeModField(moderator)" class="btn btn-danger pull-right">
											Remove
										</button>
									</div>
									<br><br><br>
								</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Add module</button>
			</form>
			<br><br>
		</div>

		<div class="col-xs-12">
			<div ng-repeat="module in modules">
				<div class="well">
					<h3>Module Code: {{module.code}} <button class="btn btn-danger pull-right" ng-click="deleteModule(module)">Delete this module</button></h3>
					<p><strong>Module Name: </strong>{{module.code}} <button class="btn btn-info pull-right" ui-sref="module({id: module.id})">Edit this module</button></p>
					<p><strong>Module Contribution Types: </strong>{{module.contributionTypes}}</p>
				</div>
			</div>
		</div>
	</div>
</div>