
<!-- 	<div class="col-xs-12">
		<div class="col-xs-12" ng-show="showForm">
			<h3>Add a new user</h3>
			<form ng-submit="addNewUser()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Name of User" ng-model="userName">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="User NUS OpenID" ng-model="userNusOpenId">
				</div>
				<button class="btn btn-success pull-right">Add user</button>
			</form>
		</div>
	</div> -->

<div class='row'>
	<div class="col-xs-12 col-sm-12">
		<div class="card card-mini">
		  <div class="card-header">
		    <div class="card-title"><h3>All Users</h3></div>
		    <ul class="card-action">
		      <li>
		        <a href="#users">
		          <i class="fa fa-refresh"></i>
		        </a>
		      </li>
		    </ul>
		  </div>
		  <div class="card-body no-padding table-responsive">

		    <table class="table card-table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>NUS OpenID</th>
						<th>Name</th>
						<th>Last Logged In</th>
						<th>Is Super Admin?</th>
						<th>DB ID</th>
					</tr>
				</thead>
				<tbody ng-repeat="user in users | filter: search | orderBy: direction+sort">
					<tr>
						<th>{{$index + 1}}</th>
						<th>{{user.nusOpenId}}</th>
						<th>{{user.name}}</th>
						<th>{{user.lastLoggedIn | date: 'medium'}}</th>
						<th>{{user.superAdmin}}</th>
						<th>{{user.id}}</th>
					</tr>
				</tbody>
		    </table>
		  </div>

		  
		</div>
	</div>
</div>