<!DOCTYPE html>
<html>
<head>
	<title>StudioNet</title>
</head>
<body>
	<h1>Access Denied</h1>
	<p>You are not authorized to access the page.</p>
	<p>Please log in through IVLE on the <a href="/">home page</a> to continue.</p>
</body>
</html>

<!-- Self explanatory -->