<!DOCTYPE html>
<html>
<head>
  <title>StudioNET - A Graph Based Sharing Network</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../template/html/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../template/html/assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="../template/html/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../template/html/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../template/html/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../template/html/assets/css/theme/yellow.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.css">

</head>
<body ng-app="studionetAdmin">

    <div class="app app-default">

        <!-- Side Nav -->
        <aside class="app-sidebar" id="sidebar">
          <div class="sidebar-header">
            <a class="sidebar-brand" href="#"><span class="highlight">StudioNET</span> Admin</a>
            <button type="button" class="sidebar-toggle">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="sidebar-menu">
            <ul class="sidebar-nav">
              <li class="active">
                <a href="/admin">
                  <div class="icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </div>
                  <div class="title">Admin Dashboard</div>
                </a>
              </li>
              <li>
                <a ui-sref="modules" class="dropdown-toggle" data-toggle="dropdown">
                  <div class="icon">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                  </div>
                  <div class="title">Modules</div>
                </a>
              </li>
              <li>
                <a ui-sref="users" class="dropdown-toggle" data-toggle="dropdown">
                  <div class="icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                  <div class="title">Users</div>
                </a>
              </li>
              <li>
                <a ui-sref="users" class="dropdown-toggle" data-toggle="dropdown">
                  <div class="icon">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                  </div>
                  <div class="title">Tags</div>
                </a>
              </li>
              <li>
                <a href="/user#graph">
                  <div class="icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </div>
                  <div class="title">User Dashboard</div>
                </a>
              </li>
            </ul>
          </div>
          <div class="sidebar-footer">
            <ul class="menu">
              <li>
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-cogs" aria-hidden="true"></i>
                </a>
              </li>
              <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
            </ul>
          </div>
        </aside>

        <script type="text/ng-template" id="sidebar-dropdown.tpl.html">
          <div class="dropdown-background">
            <div class="bg"></div>
          </div>
          <div class="dropdown-container">
            {{list}}
          </div>
        </script>

        <div class="app-container">

            <!-- Top Nav -->
            <nav class="navbar navbar-default" id="navbar">
              <div class="container-fluid">
                <div class="navbar-collapse collapse in">
                  <ul class="nav navbar-nav navbar-mobile">
                    <li>
                      <button type="button" class="sidebar-toggle">
                        <i class="fa fa-bars"></i>
                      </button>
                    </li>
                    <li class="logo">
                      <a class="navbar-brand" href="#"><span class="highlight">StudioNET</span> Admin</a>
                    </li>
                    <li>
                      <button type="button" class="navbar-toggle">
                        <img class="profile-img" src="../template/html/assets/images/profile.png">
                      </button>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-title">Dashboard</li>
<!--                     <li class="navbar-search hidden-sm">
                      <input id="search" type="text" placeholder="Search..">
                      <button class="btn-search"><i class="fa fa-search"></i></button>
                    </li> -->
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown profile">
                      <a href="../template/html/pages/profile.html" class="dropdown-toggle"  data-toggle="dropdown">
                        <img class="profile-img" src="../template/html/assets/images/profile.png">
                        <div class="title">Profile</div>
                      </a>
                      <div class="dropdown-menu">
                        <div class="profile-info">
                          <h4 class="username">Scott</h4>
                        </div>
                        <ul class="action">
                          <li>
                            <a href="../template/html/pages/profile.html">
                              Profile
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="badge badge-danger pull-right">5</span>
                              My Inbox
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Setting
                            </a>
                          </li>
                          <li>
                            <a href="/logout">
                              Logout
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>


            <ui-view></ui-view>



            <footer class="app-footer"> 
              <div class="row">
                <div class="col-xs-12">
                  <div class="footer-copyright">
                    Copyright © 2016 Lorem Ipsum
                  </div>
                </div>
              </div>
            </footer>
        </div>

    </div>
    
    <script type="text/javascript" src="../template/html/assets/js/vendor.js"></script>
    <script type="text/javascript" src="../template/html/assets/js/app.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="/admin/javascripts/adminAngularApp.js"></script>
    <!--include controllers, services -->
    <script type="text/javascript" src="/admin/javascripts/services.js"></script>
    <script type="text/javascript" src="/admin/javascripts/controllers/HomeCtrl.js"></script>
    <script type="text/javascript" src="/admin/javascripts/controllers/ModuleCtrl.js"></script>
    <script type="text/javascript" src="/admin/javascripts/controllers/ModulesCtrl.js"></script>
    <script type="text/javascript" src="/admin/javascripts/controllers/UsersCtrl.js"></script>

</body>
</html>

<script>

$('li').click(function(){
  $('li').removeClass('active');
  $(this).addClass('active');
})
</script>