<!DOCTYPE html>
<html>
  <head>
    <title>StudioNet</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="template/demo.css" />

  </head>
  <body>
    <div class="app-container">
      
      <div class="flex-center">
        <div class="app-header">
          <a class="app-brand" href="#"><span class="highlight">StudioNET</span></a>
          <br> <center>A Graph-based Social Network </center>
        </div>
        <div class="app-body">
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Social_Network_Analysis_Visualization.png" />
          <ul class="demo-list">
                
                <form action="/auth/openid" method="post" id="form_user">
                  <input type="hidden" id=user_id type="text" name="openid_identifier" value="https://openid.nus.edu.sg/"/><br/>
                   <li onclick='enterUser()'>
                    <a>
                      <div class="title">NUS Staff / Students</div>
                      <div class="subtitle">NUSNET OpenID</div>
                    </a>
                   </li>                 
                  </input>
                </form>

          </ul>
        </div>
        <div class="app-footer">
          Copyright © 2016 Lorem Ipsum
        </div>
      </div>
    </div>
  </body>
</html>

<script>

function enterUser(){
  document.getElementById("form_user").submit();
}

function enterGuest(){
  alert("We are still to enable guest entry.")
  //document.getElementById("form_guest").submit();
}


</script>