<!DOCTYPE html>
<html>
  <head>
    <title>StudioNet</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="row">
  		<div class="container">
		  	<div class="col-xs-12">		
					<h1 class="text-center">StudioNet</h1>
				</div>
  		</div>
  	</div>
    <div class="row">
			<div class="container">
				<div class="col-xs-6 col-xs-offset-3">
					<h3 class="text-center">StudioNet Login Page</h3>
					<form action="/auth/openid" method="post">
						<input type="hidden" id=user_id type="text" name="openid_identifier" value="https://openid.nus.edu.sg/"/><br/>
						<input class="btn btn-primary btn-lg btn-block" type="submit" value="Login With IVLE"/>
					</form>
					<br>
				</div>
				<div class="col-xs-6 col-xs-offset-3">
					<a href="/" class="btn btn-info btn-block">Back to home page</a>
				</div>
			</div>
		</div>

  </body>
</html>
