.app-container{
	//background-color: red;
	width: 90%;
	margin-left: 5%;
	padding-left: 0px !important;
	overflow-y: hidden;
}

aside.app-sidebar{

	height: auto;
	min-height: 100px;
	max-height: 80vh;
	overflow-y: visible;
	
	padding-left: 30px;
	//padding: 0px !important; 

	min-width: 200px; 
	top: 90px;
	left: 0;

	text-align: left;


	background-color: rgba(0,0,0,0);
	box-shadow: none;
}

ul.sidebar-nav{
	padding: 0px !important;
	max-height: 600px;
	overflow-y: visible;
}