<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h2>Home</h2>
			<button class="btn btn-default pull-right" ui-sref="admin">Admin Panel</button>
			<button class="btn btn-default pull-right" ui-sref="home">User Panel</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<p>Should only be able to see this if you are an admin of at least 1 module.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h3>List of modules that you are an admin of:</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<div ng-repeat="module in modules">
				<div class="well">
					<h4>Module Code: {{module.m.code}} <button class="btn btn-info pull-right" ui-sref="moduleAdmin({moduleCode: module.m.code})">View this module</button></h4>
					<p><strong>Module Name: </strong>{{module.m.name}}</p>
					<p><strong>Module Contribution Types: </strong>{{module.m.contributionTypes}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
