<header>
	<div class='logo-container'>
		<a ui-sref='home.graphView'><div class='logo'><p>S</p>tudioNET</div></a>
	</div>
	<div class='user-avatar-container'>
		<a ui-sref='home.userDetails'><img class='user-avatar' src='./img/boy.svg'/></a>
		<img class='recent-activity-notifications' src='./img/worldwide.svg'/>
	</div>
</header>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h2>Home</h2>
			<button class="btn btn-default pull-right" ui-sref="home.userDetails">User Panel</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<p>Should only be able to see this if you are an admin of at least 1 module.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h3>List of modules that you are an admin of:</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<div ng-repeat="module in modules">
				<div class="well">
					<h4>Module Code: {{module.code}} <button class="btn btn-info pull-right" ui-sref="moduleAdmin({moduleCode: module.code})">View this module</button></h4>
					<p><strong>Module Name: </strong>{{module.name}}</p>
					<p><strong>Module Contribution Types: </strong>{{module.contributionTypes}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
