<link rel='stylesheet' href='/user/stylesheets/modal-style.css' />
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<div class="modal fade" display='block'>
  <div class="modal-dialog modal-lg" ng-repeat='contribution in data'>
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class='content-modal'>{{contribution.db_data.name}}</h3> 
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class='col-sm-4'>
              <div>
                <div id='second-cy'></div>
                <hr>
                <button type="button" ng-click="answer()" class="btn btn-primary" id="btn-contribute" data-dismiss="modal">
                  +
                </button>
              </div>
            </div>
            <div class='col-sm-8'>
              <div class='row'>
                <ul class="nav nav-tabs pull-right">
                  <li class="active"><a data-target="#content" data-toggle="tab">Content</a></li>
                  <li><a data-target="#statistics" data-toggle="tab">Statistics</a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div class='tab-pane fade in active' id='content'>
                  <b>Contribution's id: </b>{{contribution.id}}
                  <br><br>
                  <b>Contribution's type: </b>{{contribution.type}}
                  <br><br>
                  <b>Contribution's content: </b>{{contribution.db_data.content}} 
                  <br><br>
                  <b>Contribution's description: </b>{{contribution.db_data.description}} 
                  <br><br>
                </div>
                <div class='tab-pane fade' id='statistics'>
                    <h3>This is the column for contributions' statistics.</h3>
                </div>
                <button type="button" ng-click="close()" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>