<link rel='stylesheet' href='./stylesheets/graph-style.css' />

<div class='graph-container'>

	<div class='bread-crumbs'>
		<a>Graph</a> > <a> User 178 </a> > <a> Contribution 232 </a> 
	</div>
	
	<div class='graph-controls'>
		<img class='graph-nav-control' src='./img/zoom-in.svg'/>
		<img class='graph-nav-control' src='./img/zoom-out.svg'/>
		<img class='graph-nav-control' src='./img/expand.svg'/>
		
		<div class='add-contribution'>+</div>
	</div>

	<div class='add-contribution-dialog'>
		<div style='margin: 0 auto;'>
			Contribution Making Widget
			<br>
			<button name="cancel" id='cancel'>Cancel</button>
			<button name="submit" id='submit'>Submit</button>
		</div>
	</div>

	<div id='d3-container'></div>

</div>

<div class='footer'>
	<div class='credits'>
	Icons made by <a href='http://www.flaticon.com/authors/madebyoliver'>Oliver</a>, <a href="http://www.flaticon.com/authors/gregor-cresnar">Gregor</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href='http://www.flaticon.com/authors/dario-ferrando
	'>Dario</a> from <a href='www.flaticon.com'>Flaticon</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.
	Using d3 example by Colorado Reed from <a href='https://bl.ocks.org/cjrd/6863459'>here</a>.
	</div>
</div>




<!-- include javascript functionality -->
<script type="text/javascript" src="/user/javascripts/ui/user-ui.js"></script> 



<!-- d3 specific graph files -->
<!---Example source: https://bl.ocks.org/cjrd/6863459 -->
<!-- d3 included in main template file -->
<script src="./javascripts/ui/graph-creator.js"></script>



