<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h2>Home</h2>
			<button class="btn btn-default pull-right" ui-sref="admin" ng-if="isAdmin">Admin Panel</button>
			<button class="btn btn-default pull-right" ui-sref="home">User Panel</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<div>
				<h3>Logged In As:</h3>
				<p><strong>Avatar: </strong> <img src={{user.avatar}}></p>
				<p><strong>Name: </strong> {{user.name}}</p>
				<p><strong>NUS Open ID: </strong> {{user.nusOpenId}}</p>
				<p><strong>Year: </strong>{{user.year}}</p>
				<p><strong>Can Edit: </strong>{{user.canEdit}}</p>
				<p><strong>Last Logged In: </strong>{{user.lastLoggedIn | date: 'medium'}}</p>
				<p><strong>ID: </strong>{{user.id}}</p>
				<p><strong>Super Admin: </strong>{{user.superAdmin}}</p>
				<p>
					<strong>Modules:</strong>
					<ul ng-repeat="module in modules">
						<li>{{module.code}}: {{module.name}} | Role: {{module.role}}</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<form name="myForm">
		    <fieldset>
		      <legend>Upload avatar</legend>
		      <br>Avatar:
		      <input type="file" ngf-select ng-model="picFile" name="avatar"    
		             accept="image/*" ngf-max-size="2MB" required
		             ngf-model-invalid="errorFile">
		      <i ng-show="myForm.file.$error.required">*required</i><br>
		      <i ng-show="myForm.file.$error.maxSize">File too large 
		          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
		      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
		      <br>
		      <button ng-disabled="!myForm.$valid" 
		              ng-click="uploadPic(picFile)">Submit</button>
		      <span class="progress" ng-show="picFile.progress >= 0">
		        <div style="width:{{picFile.progress}}%" 
		            ng-bind="picFile.progress + '%'"></div>
		      </span>
		      <span ng-show="picFile.result">Upload Successful</span>
		      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
		    </fieldset>
		    <br>
		  </form>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<form name="modelForm">
		    <fieldset>
		      <legend>Upload models</legend>
		      <br>Model:
		      <input type="file" ngf-select ng-model="modelFile" name="model"    
		             required ngf-model-invalid="errorFile">
		      <i ng-show="modelForm.file.$error.required">*required</i><br>
		      <br>
		      <button ng-disabled="!modelForm.$valid" 
		              ng-click="uploadModel(modelFile)">Submit</button>
		      <span class="progress" ng-show="modelFile.progress >= 0">
		        <div style="width:{{modelFile.progress}}%" 
		            ng-bind="modelFile.progress + '%'"></div>
		      </span>
		      <span ng-show="modelFile.result">Upload Successful</span>
		      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
		    </fieldset>
		    <br>
		  </form>
	</div>
</div>


<div class="row">
	<div class="container">
	<fieldset>
		<legend>Download models</legend>
		<div ng-repeat="userModel in userModels">
			<a href="/uploads/{{user.nusOpenId}}/models/{{userModel.id}}" download="{{userModel.name}}">Download {{userModel.name}}</a>
		</div>
	</fieldset>
	</div>
</div>