<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script> 
  
      <!-- Side Nav -->
        <aside class="app-sidebar" id="sidebar">
          <div class="sidebar-header">
            <a class="sidebar-brand" href="#"><span class="highlight">StudioNET</span> User</a>
            <button type="button" class="sidebar-toggle">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="sidebar-menu">
            <ul class="sidebar-nav">
              <li class='active'>
                <a ui-sref="home.graphView">
                  <div class="icon">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                  </div>
                  <div class="title">My Modules</div>
                </a>
              </li>
              <li>
                <a ui-sref="/" class="dropdown-toggle" data-toggle="dropdown">
                  <div class="icon">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </div>
                  <div class="title">My Contributions</div>
                </a>
              </li>
              <li>
                <a ui-sref="/">
                  <div class="icon">
                    <i class="fa fa-chain" aria-hidden="true"></i>
                  </div>
                  <div class="title">My Connections</div>
                </a>
              </li>
<!--               <li>
                <a ui-sref="admin">
                  <div class="icon">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                  </div>
                  <div class="title">My Queries</div>
                </a>
              </li> -->
<!--               <li>
                <a ui-sref="home.userDetails">
                  <div class="icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </div>
                  <div class="title">My Profile</div>
                </a>
              </li> -->
              <li>
                <a href="/admin" ng-if="user.superAdmin">
                  <div class="icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </div>
                  <div class="title">Admin Dashboard</div>
                </a>
              </li>
            </ul>
          </div>
          <div class="sidebar-footer">
            <ul class="menu">
              <li>
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-cogs" aria-hidden="true"></i>
                </a>
              </li>
              <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
            </ul>
          </div>
        </aside>

</nav>
<ui-view></ui-view>