<link rel='stylesheet' href='./stylesheets/graph-style.css' />
<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>


<!-- Modal -->
<ui-view></ui-view>



<!-- div to host the information panel on hover -->
<div id='content-block-hover'></div>

<!-- actual graph container -->
<div class='graph-container'>

	<div class="layouts input-group">

		<label class="radio-inline"><input type="radio" name="layout-radio" value='CIRCLE_GRAPH_LAYOUT' >Circle</label>
	<!-- 	<label class="radio-inline"><input type="radio" name="layout-radio" value='SPREAD_GRAPH_LAYOUT' >Spread</label> -->
		<label class="radio-inline"><input type="radio" name="layout-radio" value='GRID_GRAPH_LAYOUT' checked>Grid</label>
		<label class="radio-inline"><input type="radio" name="layout-radio" value='CONCENTRIC_GRAPH_LAYOUT'>Concentric</label>
		<label class="radio-inline"><input type="radio" name="layout-radio" value='COSE_GRAPH_LAYOUT' >Cose</label>
	<!-- 	<label class="radio-inline"><input type="radio" name="layout-radio" value='COSE_BILKENT_GRAPH_LAYOUT' >Cose-Bilkent </label>
		<label class="radio-inline"><input type="radio" name="layout-radio" value='COSE_BILKENT_COMPOUND_GRAPH_LAYOUT' >Cose-Bilkent Compound</label> -->
		<label class="radio-inline"><input type="radio" name="layout-radio" value='DAGRE_GRAPH_LAYOUT' >Dagre</label>
		
	</div>
	
	<div class='graph-controls'>
		<img class='graph-nav-control zoom-extents' src='./img/expand.svg'/>
	</div>

    <div id='cy'></div>
   
</div>

<!-- <div class='footer'>
	<div class='credits'>
	Icons made by <a href='http://www.flaticon.com/authors/madebyoliver'>Oliver</a>, <a href="http://www.flaticon.com/authors/gregor-cresnar">Gregor</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href='http://www.flaticon.com/authors/dario-ferrando
	'>Dario</a> from <a href='www.flaticon.com'>Flaticon</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.
	</div>
</div> -->



<!-- Layout files for Cytoscape -->
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.0.5/cytoscape-cose-bilkent.js"></script>
 
<!-- include javascript functionality -->
<script src="./javascripts/ui/graph-styles.js"></script>
<script type="text/javascript" src="/user/javascripts/ui/user-ui.js"></script> 
<script src="./javascripts/ui/graph-creator.js"></script>
