<div class="container-fluid">
	
<!-- 	<div class='row visible-xs'>
		<div class='col-xs-12'>Mobile Nav</div>
	</div> -->

	<div class='row user-body'>

		<div class="col-sm-2 side-nav-container">
			<ul class="hidden-xs side-nav">
			    <li class='side-nav-element' id='user-image'>
			    	<img class='user-avatar' src={{user.avatar}}/>
					<h3 class='side-nav-item'>{{user.name}}</h3>
				</li>
			    <li class='side-nav-element' ui-sref-active="active" ui-sref="home.graphView">
			    		<span class="glyphicon glyphicon-th" aria-hidden="true"/>
						<h3 class='side-nav-item'>Graph</h3>
			    </li>
			   	<li class='side-nav-element' ui-sref-active="active" ui-sref="home.userContributions">		
			    		<span class="glyphicon glyphicon-pencil" aria-hidden="true"/>
						<h3 class='side-nav-item'>My Creations</h3>
			    </li>
			    <li class='side-nav-element' ui-sref-active="active" ui-sref="home.userSavedGraphs">		
			    		<span class="glyphicon glyphicon-bookmark" aria-hidden="true"/>
						<h3 class='side-nav-item'>Saved Graphs</h3>
			    </li>
			    <li class='side-nav-element' ui-sref-active="active" ui-sref="home.userDetails">		
					<span class="glyphicon glyphicon-user" aria-hidden="true"/>
					<h3 class='side-nav-item'>User Profile</h3>
			    </li>
			</ul>
		</div>

		<div class='col-sm-10 col-xs-12 content'>
			<ui-view></ui-view>
		</div>


	</div>

</div>

<!-- include javascript functionality -->
<script type="text/javascript" src="/user/javascripts/ui/user-ui.js"></script>

