<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h3>Add a user to this module</h3>
			
			<form ng-submit="addUser()">
				<!-- <input type="text" class="form-control" placeholder="User's NUS Open ID" ng-model="search.nusOpenId"></input>

				<div ng-repeat="user in allUsers | filter: search | limitTo: 1">
					{{user}}
					<select class="form-control" ng-options="u.nusOpenId as user.nusOpenId for u in user" ng-model="moderator.nusOpenIdExisting">
						 <option value="" selected="selected" disabled hidden>User's NUS Open ID</option>
					</select>
				</div> -->

				<input type="hidden" value="{{moduleInfo.code}}" id="moduleId"  />
				<div class="form-group">
					<select class="form-control" ng-options="u.id as u.nusOpenId +' '+u.name for u in allUsers" id="userId" ng-model="userId">
							 <option value="" selected="selected" disabled hidden>User's NUS Open ID</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary" ui-sref-active="active">Add User</button>
			</form>
			<br>
			<div id="successMsg" class="col-xs-12 alert alert-info" hidden> User  Added </div>
		</div>
	</div>
</div>