<div class="section-title">Basic Details</div>
<div class="section-body">
    <label class="col-md-3 control-label">Name</label>
    <div class="col-md-9">
      <input type="text" class="form-control" placeholder="" ng-value="groupName">
    </div>
    <div class="col-md-3">
      <label class="control-label">Description</label>
      <p class="control-label-help">( short detail of products , 150 max words )</p>
    </div>
    <div class="col-md-9" ng-value="groupDesc">
      <textarea class="form-control">{{groupDesc}}</textarea>
    </div>
</div>
