<!-- tables -->
<div class="row">
  
  <!-- Message Container -->
  <div class="col-md-6 col-sm-12" ng-if='displaySucess'>
      <div class="alert alert-success" role="alert">
          <strong>Group has been created!</strong> 
      </div>
  </div>
  <div class="col-md-6 col-sm-12" ng-if='displayError'>
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <strong>Oops!</strong> 
      </div>
  </div>


  <!-- List of all groups owned by user -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        My Groups
      </div>
      <div class="card-body no-padding">
        <div class="table-responsive">
        <table class="table card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody ng-repeat="group in groups">
            <tr ng-if='group.id !== -1 && group.role=="Admin"'>
              <td><b>{{group.name}}</b> ({{group.restricted == 'false' ? 'Open Group' : 'Closed Group'}})</td>
              <td>{{group.description}}</td>
              <td>
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#viewModal" ng-click='viewGroup(group)'>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal" ng-click='editGroup(group)'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addUserModal" ng-click='addUserModal(group)'>
                      <i class="fa fa-user-plus" aria-hidden="true"></i>
                  </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>

  <!-- List of all other groups except the user's groups -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Other Groups
      </div>
      <div class="card-body no-padding">
        <div class="table-responsive">
        <table class="table card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Member</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody ng-repeat="group in groups">
            <tr ng-if='group.id !== -1 && group.role != "Admin"'>
              <td><b>{{group.name}}</b> ({{group.restricted == false ? 'Open Group' : 'Closed Group'}})</td>
              <td>{{group.description}}</td>
              <td>{{ group.role ? 'Yes' : 'No' }}</td>
              <td>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#viewModal" ng-click='viewGroup(group)'>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>

</div>




<!-- create a group button -->
<div class="btn-floating">
  <div class="btn-bg"></div>
  <button type="button"  class="btn btn-default btn-toggle" 
    data-toggle="modal" data-target="#createGroupModal" ng-click='createGroup()'>
    <i class="icon fa fa-plus"></i>
    <span class="help-text">Shortcut</span>
  </button></a>
</div>



<!--- View Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title text-center">{{activeGroup.name}}</h4>
      </div>

      <div class="modal-body">

        <!-- Body for Viewing -->
        <div class='row'>
          <div class='col-sm-3'><i class="icon fa fa-tasks fa-4x"></i></div>
          <div class='col-sm-9'>
            <p>{{activeGroup.description}}</p>
          </div>
        </div>

        <br><br>

        <div class='row'>
          <div class='col-sm-3'><i class="icon fa fa-users fa-4x"></i></div>
          <div class='col-sm-9'>
            <p><b>User Count </b> {{activeGroup.users}}</p>
            <p><b>Created By </b>{{activeGroup.owner}}</p>
            <p><b>Type </b>{{activeGroup.restricted == "true" ? "Closed Group" : "Open Group"}}</p>
            <!-- <p><b>Frequently Used Tags</b> #tag1, #tag2, #tag3 </p> -->
          </div>
        </div>

      </div>

      <div class='modal-footer'>
        <!-- buttons -->


            <!-- Close -->
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" 
              ng-click = '(activeGroup.role === undefined) ?  joinGroup() : leaveGroup()' >
             {{ activeGroup.role ? (activeGroup.role=="Admin"? "Delete Group" : "Leave Group")  : "Join Group"}} 
            </button>

            <!-- Close -->
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
              Close
            </button>
      
      </div>


    </div>
  </div>
</div>

<!--- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editing {{ activeGroup.name }}</h4>
      </div>
      <div class="modal-body">
        
        <div class='row'>
          <!-- Body for Creating -->         
          <div class="section">
              <div class='section-title'>General Information</div>
              <div class="section-body">

                <div class="form-group">
                  <label class="col-md-3 control-label">Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" ng-model='activeGroup.name'>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-3">
                    <label class="control-label">Description</label>
                  </div>
                  <div class="col-md-9">
                    <textarea class="form-control" ng-model='activeGroup.description'></textarea>
                  </div>
                </div>

                <br><br>
                <div class="form-group">
                  <label class="col-md-3 control-label">Type</label>
                  <div class="col-md-9"> 
                    <select class="col-md-9" ng-model='activeGroup.restricted'> 
                      <option value=false>Open Group</option>
                      <option value=true>Closed Group</option>
                    </select>
                  </div>
                </div>

              </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">

          <!-- buttons -->
          <div class='row'>
            
              <!-- Save -->
              <button type="button" class="btn btn-sm btn-default" ng-click=saveGroupEdit()>
                Save Changes
              </button>

              <!-- Cancel -->
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                Close
              </button>

          </div>
      </div>

    </div>
  </div>
</div>


<!--- Add Users Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{activeGroup.name}} Members</h4>
      </div>

      <div class="modal-body">
        <div class='row'>
          <div class="col-xs-12">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>NUS OpenID</th>
                  <th>Name</th>
                  <th>Member</th>
                </tr>
              </thead>
              <tbody ng-repeat="user in users">
                <tr ng-click="addUser(user)">
                  <th>{{user.nusOpenId}}</th>
                  <th>{{user.name}}</th>
                  <th>{{user.status}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class='modal-footer'>
        <!-- buttons -->
        <div class='row'>
            
            <!-- Close -->
            <button type="button" class="btn btn-sm btn-default pull-right" data-dismiss="modal"> Close </button>

            <!-- Save -->
<!--             <button type="button" class="btn btn-sm btn-default pull-right" data-dismiss="modal">Save</button> -->

        </div>
      </div>


    </div>
  </div>
</div>



<!--- 'Create' Modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Creating {{activeGroup.name == "" ? "Group" : activeGroup.name}}</h4>
      </div>
      <div class="modal-body">
        
        <div class='row'>
          <!-- Body for Creating -->         
          <div class="section">
              <div class='section-title'>General Information</div>
              <div class="section-body">

                <div class="form-group">
                  <label class="col-md-3 control-label">Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" ng-model='activeGroup.name'>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-3">
                    <label class="control-label">Description</label>
                  </div>
                  <div class="col-md-9">
                    <textarea class="form-control" ng-model='activeGroup.description'></textarea>
                  </div>
                </div>

                <br><br>
                <div class="form-group">
                  <label class="col-md-3 control-label">Type</label>
                  <div class="col-md-9"> 
                    <select class="col-md-9" ng-model='activeGroup.restricted'> 
                      <option value=false>Open Group</option>
                      <option value=true>Closed Group</option>
                    </select>
                  </div>
                </div>

              </div>
          </div>
        </div>

        <br><br>

        <div class='row'>
          <div class="section">
            <div class='section-title'>Inheritance (cannot be changed later)</div>
            <div class='section-body'>
              


              <div class="form-group">
                <label class="col-md-4 control-label">Parent Group:{{activeGroup.groupParentId}}</label>
                <div class="col-md-8">
                  <select class="col-md-7" ng-model='activeGroup.groupParentId'>
                    <option ng-repeat='group in groups' value={{group.id}}>
                    {{group.name}} ({{group.id}})
                    </option>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">

          <!-- buttons -->
          <div class='row'>
            
              <!-- Save -->
              <button type="button" class="btn btn-sm btn-default" ng-click=saveGroup()>
                  Create
              </button>

              <!-- Cancel -->
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                Cancel
              </button>

          </div>
      </div>

    </div>
  </div>
</div>
