.filter-panel{
	min-width: 210px;
	width: auto;
	border: none;
	border-radius: 0px;
	overflow-x: visible;
}

.panel{
	border: none;
}

#filters{
	max-width: 200px;
	//max-height: 600px !important;
	overflow-y: visible;
}

.filter-heading{
	background-color: #7D7777;
	color: white;
	text-align: center;
}

#filter-btn{
	background-color: #BBBBBB;
	color: black;
	text-transform: uppercase;
	border: 1px solid black;
}

div.tree-control{
	height: 100%; overflow: auto; 
	border-radius: 0px;
}

.tree-control .tree-view li{
	margin-left: 5px !important;
}

.tree-control .tree-view ul{
	//max-height: 15vh;
	
}

/*
 *
 *	For the slider
 * 
 */
.ranger{
	border-radius: 0px !important;
}