#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  z-index: 5;
}

#activeUser{
    border: 1px solid black; 

    height: 100px;
    width: 300px;

    position: absolute;
    bottom: 0px; 

    color: black;

    font-size: 14px;

}