#cy {
  height: 110%;
  width: 140%;
  position: absolute;
  left: -20%;
  top: -60px;
  right: -20%;

  z-index: 5;
}

a{
  color: black;
}

.side-blocks-container{

    position: absolute;
    top: 5%; 
    left: 0px;

    height: 20%;

    position: relative;

    color: #D9CCCC;

}

.side-block{

    border: 1px solid black; 

    font-size: 14px;

    background-color: rgba(0, 0, 0, 0.7);

    z-index: 10;

    padding: 20px;  

    width: 260px;


}

.side-block h2{

    border-bottom: 1px solid black;
    text-decoration: uppercase;

}

#info-block{
  
    display: none;
    height: 30px;

}


#content-block{
    
    display: none;
    position: absolute;
    top: 60px;
    color: #D9CCCC;
/*    position: absolute;
    top: 25%
    left: -10%;

    height: 60%;*/
}

#content-block-hover{
    
    display: none;
    position: absolute;
    top: 60px;
    color: #D9CCCC;
/*    position: absolute;
    top: 25%
    left: -10%;

    height: 60%;*/
}


#action-block{
  display: none; 

  position: absolute;
  top: 10px;

  height: 45px;
  padding: 0px;

  text-align: center;
  color: black;
}

#central-block{
  display: none;
  position: absolute;
  top: 10px;
  left: 300px;
  width: 600px;
  height: 600px;

  overflow-y: auto;
}


#answer{
  display: none;
}


button{
  color: black;
}

input{
  color: black;
}