//accent-color : #ADD8E6

@import 'https://fonts.googleapis.com/css?family=Muli|Open+Sans';

body {
  padding: 0px !important;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

  background: #eee;
}

h3{
	
	font-family: 'Muli', sans-serif;
}

a {
  color: #00B7FF;
}

a:hover{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:focus{
	text-decoration: none;
}

.panel{
	border: 1px solid lightblue;
}

.panel-primary .panel-heading{
	background-color: #ADD8E6;
	color: black;

}

.panel-body{
	padding: 0 !important;
}

.container-fluid{
	margin: 0px;
}

/*
 *	home.html
 */
header{
	
	height: 60px;
	border-bottom: 2px solid lightblue;

	box-shadow: 2px 2px 2px solid #ddd;

	padding: 0px 15% 10px 15%;

	position: relative;

	background-color: white;
}

/* ---- Logo ---- */
.logo-container{

	float: left;
	margin-top: 25px;
	margin-left: 15px;
}

.logo{

	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	color: lightblue;
}

.logo p{
	font-size: 25px;
	line-height: 25px;
	display: inline; 
	color: lightblue;
	margin:0px;
	padding: 0px;
}

/* ---- User-Avatar ---- */
.user-avatar-container{
	float: right; 

	margin-top: 5px;
	margin-right: 15px;

}

.user-avatar{
	float: right;

	border: 2px solid lightblue !important;
	border-radius: 50%; 
	
	width: 45px;
	height: 45px;
	
}

.user-avatar:hover + .user-info-container{
	display: block;
}


.user-info-container{
	display: none;
	width: 45px;
	top: 45px; 
	right: -50px;
}


.recent-activity-notifications{
	
	float: right;

	margin-right: 15px;
	margin-top: 12px;

	width: 25px; 
	height: 25px; 

}

.recent-activity-notifications:hover{
	width: 35px; 
	height: 35px; 
}

.recent-activity-container{

	display: none;

	float: right;

	margin: 25px -10px 0px 0px;
	max-width: 220px;
	border: 1px solid black;

	background-color: #eee;

	padding: 10px 20px 10px 20px;

}

.recent-activity{
	color: #222;
	border-bottom: 1px solid lightblue;
}

.content{
	padding: 10px 15% 10px 15%;
}


/* -------User Profile ------- */
.user-profile{
	padding: 20px 15px 30px 15px;
	border: 1px solid black;
}

.profile-info{

}

.user-profile .avatar{
	width: 100%; 
	height: 100%;
	margin: 0 !important;
	border: none;
	border-radius: none;
}


.profile-graphs{

}

.mini-graph-container{
	height: 450px;
	background-color: white;
}

.misc-graph-container{
	height: 250px;
	background-color: white;
}


p.hover-content img{
	width: 150px !important; 
	height: 150px !important; 
	display: block;
}









/* ---- Graph Container ---- */
.graph-container{
	height: 775px;
	//width: 100vh; 

	margin: 0px 25px 10px 25px;

	position: relative;
	padding: 0px 15px 30px 15px;
}


.graph-controls{

	position: relative;
	float: right;

	width: 45px; 
	height: 100%;

	margin-top: 0px; 
	padding: 0px 0 0px 0;

	z-index: 20;
}

.graph-nav-control{
	width: 25px;
	height: 25px;

	margin: 0px 10px 20px 10px;
}

.graph-nav-control:hover{
	width: 40px;
	height: 40px;
}

.add-contribution{

	position: absolute;
	bottom: 0;

	width: 45px;
	height: 45px;

	padding: 3px;
	line-height: 39px;
	font-size: 39px; 
	text-align: center;
	color: white;
	border-radius: 100%;
	background: #4A95EF;

	box-shadow: 2px 2px 2px grey;

	z-index: 4;
}

.add-contribution:hover{

	
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	-webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;

   box-shadow: none;
}

.add-contribution-dialog{

	padding: 20px;
	border: 2px solid lightblue;
	background-color: white;
	box-shadow: 3px 3px 3px grey;
	height: 500px;
	margin: 30px auto;
	width: 550px;

	display: none;

}


.footer{

}

.credits{
	border-top: 1px solid lightblue;
	text-align: center;

}





/*
 *	Content - User Home Page
 */
#container{
	width: 100%; 
	height: 100%;
	border: 1px solid white;
	background-color: #F1F1F1;
}



/*
 *	Graph Filters 
 */
 #searchTextResults{
 	margin-left:-50px;
 }

 .subgroups{
 	margin-left: 20%;
 }

 .filter-panel{
 	margin-left: 10px;
 	margin-right: 1px;
 	margin-bottom: 0px;
 	font-size: 12px;
 	width: 180px;
 	position: relative;
 }

 .filter-heading{
  	padding: 2px;	
  	background-color: #ADD8E6;
	color: black;
	cursor: pointer;
 }